
.viewtaskContainer{
    display: flex;
    flex-direction: column;
    background-color: white;
    border: 1px solid hsl(0, 0%, 80%);
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(18, 18, 18, 0.1);
    padding: 20px;
    margin: 10px;
    width: 90%;    
}

.buttonCreate{
    padding: 10px;
    border-radius: 15px;
    background: rgba(233, 170, 44, 0.50);
    color: black;
    font-size: 1.2rem;
    font-weight: bold;
    width: 200px;
    height: 60px;
    align-self: flex-end;
}

.buttonCreate:hover{
    background: rgba(250, 169, 7, 0.758);
    cursor: pointer;
}
