.userProfileTitle{
    margin-left: 1.5rem;
    font-size: 2rem;
}

.notificationsContainer{
    height: 300px;
    margin-bottom: 20px;
}

.notificationsContainer>label{
    font-size: 20px;
    font-weight: bolder;
    color: black; 
    letter-spacing: 3px;
}

.filtersContainer{
    width: 100%;
    height: 200px;
    background-color: white;
    padding: 1%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-bottom: 120px;
}

.filtersContainer>label{
    font-size: 1.2rem;
    font-weight: bold;
    word-spacing: 10px;;
}

.navigationContainer{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    background-color:  transparent;
    height: 100px;
    border-radius: 25px;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-top: 120px;
}

.navigationContainer>button{
    padding: 10px;
    border-radius: 15px;
    background: rgba(233, 170, 44, 0.50);
    color: black;
    font-size: 1.2rem;
    font-weight: bold;
    width: 200px;
    height: 60px;
}

.navigationContainer>button:hover{
    background: rgba(250, 169, 7, 0.758);
    color: black;
    font-weight: bold;
    cursor: pointer;
}
