.projectViewerContainer {
    background-color: white;
    margin-left: 3rem;
    max-height: 1100px; /* Set a fixed height */
    overflow-y: auto; /* Enable vertical scrolling */
    border: 1px solid #ccc; 
    padding: 10px; 
}



.filteredProjects {
    list-style-type: none; /* Remove bullet points */
    padding: 0; /* Remove default padding */
    margin: 0; /* Remove default margin */
}